.cardnoticia{
    margin: 8%;
}

.cardsnoticias{
    column-width: 50px;
    align-items:center;
    
    margin: 8%;
    margin-top: 5px;
}

.cards{
    column-width: 100px;
    margin: 6%;
    align-items: center;
   
}

